body {
  margin: 0;
  padding: 0;
  /* flex-direction: column;
  display: flex;
  align-items: center; */
  background-color: #004c5c;
}
body header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #7bd8bb;
}
#general {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.container-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #8ab2b9;
  list-style: circle;
}
.container-2 h3 {
  color: #7bd8bb;
}
#score {
  font-family: Arial, Helvetica, sans-serif;
  color: #8ab2b9;
}
.images-keys {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#img {
  width: 80px;
  height: 80px;
}
canvas {
  border: 3px solid black;
}

.container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #8ab2b9;
  flex-direction: column;
  align-items: center;
}
#restart-btn {
  margin-top: 20px;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  border-radius: 10px;
  background-color: #8ab2b9;
  color: rgb(34, 32, 32);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
#restart-btn:hover {
  cursor: pointer;
  opacity: 75%;
  transition: 0.2s;
}
/* div #gameOver {
  width: 200;
  height: 200;
} */
#gameOver {
  display: none;
  position: absolute;
  margin-bottom: 400px;
}
